body {
  background: $color-bg;
  color: $color-highest;
}

a {
  color: $primary-color;
}

.cdt-divider {
  height: 1px;
  width: 100%;
  background-color: $color-mid;
}

.cdt-margin-bottom {
  &-lg {
    margin-bottom: 20px;
  }
  &-md {
    margin-bottom: 10px;
  }
  &-xs {
    margin-bottom: 5px;
  }
}
